{% extends 'layout.html' %}
{% block title %}
    Forum Romanum
{% endblock %}
{% block content %}
    <h1>Wszechforum</h1>
    {% for thread in threads %}
        <h2>
            <a href = "{% url 'thread' slug=thread.slug %}">{{ thread.title }}</a>
        </h2>
        <p>
        {{ thread.creator }}
        </p>
    {% endfor %}
    {% if user.is_authenticated %}
        <form class="form-with-validation" action="{% url 'forum' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="form-submit">Create new thread</button>
        </form>
    {% else %}
        <h3>You need to be logged in in order to create a thread</h3>
        <button class = form-submit onclick="window.location.href='/users/login';">log in</button>
    {% endif %}
{% endblock %}