{% extends 'layout.html' %}
{% block title %}
    {{ thread.title }}
{% endblock %}
{% block content %}
    <h1>{{ thread.title }}</h1>
    <div class="thread-post">
            <p class = "pawel">{{ thread.title}} <br>
            {{ thread.creator }}</p>
            <p class = "gawel">{{ first_post.content}}</p>
        </div>
    {% for post in posts %}
        {% if post != first_post %}
            <div class="thread-post">
                <p class = "pawel">Re: {{thread.title}} <br>
                {{ post.author }}</p>
                <p class="gawel">{{ post.content }}</p>
            </div>
        {% endif %}
    {% endfor %}
        {% if user.is_authenticated %}
        <form class="form-with-validation" action="{% url 'thread' slug=thread.slug %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button>Reply</button>
    </form>
    {% else %}
        <h3>You need to be logged in in order to reply</h3>
        <button class = form-submit onclick="window.location.href='/users/login';">log in</button>
    {% endif %}
{% endblock %}