{% extends 'layout.html' %}
{% block title %}
    {{ blog.title }}
{% endblock %}
{% block content %}
    <section>
        <h1>{{ blog.title }}</h1>
        {% for post in posts %}
            <p>
                <a href = "{% url 'post' slug=blog.slug slug2=post.slug %}">
                    {{ post.title }}
                </a>
            </p>
        {% endfor %}
    </section>
    {% if in_authors %}
            <form class="form-with-validation" action="{% url 'blog' slug=blog.slug %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button>Create a post</button>
            </form>
    {% endif %}
{% endblock %}