{% extends 'layout.html' %}
{% block title %}
    Blogs list
{% endblock %}
{% block content %}
        <h1>Blogs</h1>
        {% for blog in blogs %}
            <h2>
            <a href="{% url 'blog' slug=blog.slug %}">
                {{ blog.title }}
            </a>
            </h2>
            <p>{{ blog.authors_list}}</p>
        {% endfor %}
    {% if user.is_authenticated %}
        <form class="form-with-validation" action="{% url 'blogs' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class = "form-submit">Create a blog</button>
        </form>
    {% else %}
        <h3>You need to be logged in in order to create a blog</h3>
        <button class = form-submit onclick="window.location.href='/users/login';">log in</button>

    {% endif %}
{% endblock %}