{% extends 'layout.html' %}
{% block title %}
    {{ blog.title }}
{% endblock %}
{% block content %}
    <section>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <h1>Comments</h1>
        {% for comment in comments %}
            <h4> {{ comment }}</h4>
            <p> {{ comment.content }}</p>
        {% endfor %}
    </section>
    <form class="form-with-validation" action="{% url 'post' slug=post.blog.slug slug2=post.slug %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button>Comment</button>
    </form>
{% endblock %}