{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Homepage
{% endblock %}
{% block content %}
    <div id="dwoch-typow">
        <div>
            <h1>Blogs</h1>
            <a href="{% url 'blogs' %}">
                <img class="lobroz" src = "{% static 'media/stalijepegie.jpg' %}">
            </a>
        </div>
        <div>
            <h1>Forum</h1>
            <a href="{% url 'forum' %}">
                <img class = "lobroz" src = "{% static 'media/leninie.jpg' %}">
            </a>
        </div>
    </div>
{% endblock %}